<% controlPanel.categories.forEach((category) => { %>
    <% if(category.isAvailable) { %>
        <div class="col-6 default-padding">
            <button class="btn btn-success btn-category max-width" type="button"
                    data-category-id="<%= category.id %>" data-category-index="<%= category.question_index %>">
                <%= category.name %>
            </button>
        </div>
    <% } else { %>
        <div class="col-6 default-padding">
            <button disabled class="btn btn-warning btn-category max-width" type="button"
                    data-category-id="<%= category.id %>" data-category-index="<%= category.question_index %>">
                <%= category.name %>
            </button>
        </div>
    <% } %>
<% }); %>