<% controlPanel.categories.forEach((category) => { %>
    <% if(category.isAvailable) { %>
        <div class="col-6 default-padding">
            <button id="category-<%= category.id %>" class="btn btn-success btn-category max-width" type="button"
                    data-category-id="<%= category.id %>" data-category-index="<%= category.question_index %>"
                    title="" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= category.question %>">
                <%= category.name %>
            </button>
        </div>
    <% } else { %>
        <div class="col-6 default-padding">
            <button disabled id="category-<%= category.id %>" class="btn btn-warning btn-category max-width" type="button"
                    data-category-id="<%= category.id %>" data-category-index="<%= category.question_index %>"
                    title="" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= category.question %>">
                <%= category.name %>
            </button>
        </div>
    <% } %>
<% }); %>