<nav id="menu" class="shadow bordered">
    <div id="menu-logo-container">
        <a href="/"><img id="menu-logo" src="logo/logo-sm.png"></a>
    </div>
    <div id="nav-link-container">
        <ul id="nav-link">
            <li><a id="link-home" href="/"><%- navBar.home %></a></li>
            <li><a id="link-game-board" href="/gameBoard"><%- navBar.gameBoard %></a></li>
            <% if (navBar.adminId !== undefined) { %>
                <li><a id="link-control-panel" href="/controlPanel"><%- navBar.controlPanel %></a></li>
            <% } %>
        </ul>
    </div>
    <div id="language-select" class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn"><span class="flag-icon flag-icon-<%- navBar.language %> pointer"></button>
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                <a class="dropdown-item" href="/setLanguageEn"><span class="flag-icon flag-icon-us pointer"></span></a>
                <a class="dropdown-item" href="/setLanguageHu"><span class="flag-icon flag-icon-hu pointer"></span></a>
            </div>
        </div>
    </div>
    <div id="auth-link-container">
        <ul id="auth-link">
            <% if(navBar.userId !== undefined) { %>
                <li><a href="/logout"><%- navBar.logout %></a></li>
            <% } else { %>
                <li><a id="link-register" href="/register"><%- navBar.register %></a></li>
                <li><a id="link-login" href="/login"><%- navBar.login %></a></li>
            <% } %>
        </ul>
    </div>
</nav>