<nav id="menu" class="shadow bordered">
    <div id="menu-logo-container">
        <a href="/"><img id="menu-logo" src="logo/logo-sm.png"></a>
    </div>
    <div id="nav-link-container" class="dropdown-bar">
        <ul id="nav-link">
            <li><a id="link-home" href="/"><%- navBar.home %></a></li>
            <li><a id="link-game-board" href="/gameBoard"><%- navBar.gameBoard %></a></li>
            <% if (navBar.user !== null && navBar.user.id === 1) { %>
                <li><a id="link-control-panel" href="/controlPanel"><%- navBar.controlPanel %></a></li>
                <li><a id="link-question-panel" href="/questionPanel"><%- navBar.questionPanel %></a></li>
            <% } %>
            <% if(navBar.user !== null) { %>
                <li><a href="/logout"><%- navBar.logout %></a></li>
            <% } else { %>
                <li><a id="link-register" href="/register"><%- navBar.register %></a></li>
                <li><a id="link-login" href="/login"><%- navBar.login %></a></li>
            <% } %>
        </ul>
    </div>
    <% if (navBar.user !== null) { %>
        <div id="name-container">
            <ul>
                <li><%- navBar.greeting %> <span><%- navBar.user.name %></span>!</li>
            </ul>
        </div>
    <% } %>
    <div id="language-select" class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn"><span class="flag-icon flag-icon-<%- navBar.language %> pointer"></button>
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                <a class="dropdown-item" href="/setLanguageEn"><span class="flag-icon flag-icon-us pointer"></span></a>
                <a class="dropdown-item" href="/setLanguageHu"><span class="flag-icon flag-icon-hu pointer"></span></a>
            </div>
        </div>
    </div>
    <a id="menu-bar">
        <i class="fa fa-bars"></i>
    </a>
</nav>
<script>
    let menu = $('#menu-bar');
    let dropdownBar = $('.dropdown-bar');
    menu.on('click', function() {
        if (!dropdownBar.hasClass('menu-show')) {
            dropdownBar.removeClass('menu-hide');
            dropdownBar.addClass('menu-show');
        } else {
            dropdownBar.removeClass('menu-show');
            dropdownBar.addClass('menu-hide');
        }
    });
</script>