<% controlPanel.players.forEach((player) => { %>
    <tr id="<%= player.socket_id %>">
        <td><%= player.name %></td>
        <td id="<%= player.socket_id %>-point"><%= player.point %></td>
        <td>
            <button type="button" class="btn btn-success btn-sm btn-authorize"
                    data-socket-id="<%= player.socket_id %>">
                <%= controlPanel.authorizeBtn %>
            </button>
        </td>
    </tr>
<% }); %>