<% gameBoard.categories.forEach((category) => { %>
    <% if(category.isAvailable) { %>
        <div class="col-6 pad-07">
            <button id="category-<%= category.id %>" class="btn btn-success btn-category max-width" type="button"
                    data-category-id="<%= category.id %>" data-category-index="<%= category.question_index %>">
                <%= category.name %>
            </button>
        </div>
    <% } else { %>
        <div class="col-6 pad-07">
            <button disabled id="category-<%= category.id %>" class="btn btn-danger btn-category max-width" type="button"
                    data-category-id="<%= category.id %>" data-category-index="<%= category.question_index %>">
                <%= category.name %>
            </button>
        </div>
    <% } %>
<% }); %>