<% controlPanel.users.forEach((user) => { %>
    <tr id="<%= user.socket_id %>">
        <td><%= user.name %></td>
        <td id="<%= user.socket_id %>-point"><%= user.point %></td>
        <td>
            <button type="button" class="btn btn-orange btn-sm btn-authorize"
                    data-socket-id="<%= user.socket_id %>">
                <%= controlPanel.authorizeBtn %>
            </button>
        </td>
    </tr>
<% }); %>