<div id="evaluation-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="evaluation-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content bg-gray text-dirty">
            <div class="modal-header">
                <h5 class="modal-title"><%- controlPanel.evaluationTableTitle %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 text-center">
                        <p id="question" class="text-orange"></p>
                    </div>
                    <div class="col-6 text-center">
                        <p id="answer" class="text-success"></p>
                    </div>
                    <div class="col-12">
                        <table id="evaluation-table" class="table table-hover text-dirty text-center compact hover order-column stripe">
                            <thead>
                                <tr>
                                    <th scope="col"><%- controlPanel.evaluationTableHead.name %></th>
                                    <th scope="col"><%- controlPanel.evaluationTableHead.timeLeft %></th>
                                    <th scope="col"><%- controlPanel.evaluationTableHead.answer %></th>
                                    <th scope="col"><%- controlPanel.evaluationTableHead.evaluate %></th>
                                    <th scope="col"><%- controlPanel.evaluationTableHead.point %></th>
                                </tr>
                            </thead>
                            <tbody id="evaluation-table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="evaluate-btn" type="button" class="btn btn-orange btn btn-block"><%- controlPanel.evaluateBtn %></button>
            </div>
        </div>
    </div>
</div>
<div id="control-container" class="mt-5 container text-dirty">
    <div class="card-container">
        <div class="row">
            <%- include('partials/category-buttons'); %>
        </div>
    </div>
    <div class="card-container">
        <div class="row">
            <div class="col-12">
                <table id="player-table" class="table table-hover text-dirty text-center compact hover order-column stripe">
                    <thead>
                        <tr>
                            <th scope="col"><%- controlPanel.playersTableHead.name %></th>
                            <th scope="col"><%- controlPanel.playersTableHead.points %></th>
                            <th scope="col"><%- controlPanel.playersTableHead.authorizeBtn %></th>
                        </tr>
                    </thead>
                    <tbody id="player-table-body">
                        <%- include('partials/players'); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="row">
            <div class="form-group max-width col-6">
                <label for="timer"><%- controlPanel.timer %></label>
                <input type="numbers" class="form-control" id="timer">
                <small class="form-text text-muted"><%- controlPanel.timerLegend %></small>
            </div>
            <div class="form-group max-width col-6">
                <label for="point-value"><%- controlPanel.pointValue %></label>
                <input type="numbers" class="form-control" id="point-value">
                <small class="form-text text-muted"><%- controlPanel.pointValueLegend %></small>
            </div>
            <div class="form-group max-width col-4">
                <button id="evaluation-modal-btn" type="button" class="btn btn-orange btn btn-block"
                        data-toggle="modal" data-target="#evaluation-modal">
                    <%- controlPanel.showEvaluationModalBtn %>
                </button>
            </div>
            <div class="form-group max-width col-4">
                <button id="collect-answers-btn" type="button" class="btn btn-orange btn btn-block"><%- controlPanel.collectAnswersBtn %></button>
            </div>
            <div class="form-group max-width col-4">
                <button id="logout-everyone-btn" type="button" class="btn btn-orange btn btn-block"><%- controlPanel.logoutEveryoneBtn
                %></button>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();

    let playerTable;
    let evaluationTable;
    let playerSocketId = '';

    let timer = $('#timer');
    let pointValue = $('#point-value');

    $(document).ready(() => {
        $('#link-control-panel').addClass('active');
        $('[data-toggle="tooltip"]').tooltip();
        playerTable = $('#player-table').DataTable({
            paging: false,
            searching: false,
            language: {
                "zeroRecords": '<%- controlPanel.emptyTable %>'
            },
            "order": [[ 1, 'desc' ]],
            createdRow: function (row, data, dataIndex) {
                if (!$(row).attr('id')) {
                    let socketId = playerSocketId;
                    $(row).attr('id', socketId);
                    setTimeout(function() {
                        $('#' + socketId + ' td:nth-child(2)').attr('id', socketId + '-point');
                    }, 1000);
                }
            }
        });
        evaluationTable = $('#evaluation-table').DataTable({
            paging: false,
            searching: false,
            language: {
                "zeroRecords": '<%- controlPanel.emptyTable %>'
            },
            "order": [[ 1, 'desc' ]]
        });
        removeRedundantElements();
        socket.emit('postAdminSocketId');
        timer.val(30);
        pointValue.val(2);
    });

    function addPlayerToList(player) {
        let socketId = player.socket_id;
        playerSocketId = socketId;
        playerTable.row.add([
            player.name,
            player.point,
            '<button type="button" class="btn btn-orange btn-sm btn-authorize" data-socket-id="' + socketId + '">' +
            '   <%= controlPanel.authorizeBtn %>' +
            '</button>'
        ]).draw();
        playerSocketId = '';
    }
</script>
<script src="js/control-panel.js"></script>
<style>
    #logo-container {
        display: none;
    }


    .container {
        max-width: 100%;
    }
</style>