<div id="category-pick-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="category-pick-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%- gameBoard.selectCategory %></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <%- include('partials/player-category-buttons'); %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="logout-btn-container" class="col-12">
        <form action="/logout" method="GET">
            <button type="submit" class="btn btn-dark max-width"><%- gameBoard.logoutBtn %></button>
        </form>
    </div>
    <div class="col-12 text-center">
        <h1 class="text-info"><%- gameBoard.pointText %>: <span class="text-warning" id="point"><%- gameBoard.pointValue %></span></h1>
    </div>
    <div class="col-4 text-center">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">
                <%- gameBoard.question %>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <%- gameBoard.category %>: <br>
                    <span id="question-category"></span>
                </h4>
                <p id="question" class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
        <div id="timer-container" class="card text-white bg-success mb-3">
            <div class="card-header">
                <%- gameBoard.timer %>
            </div>
            <div class="card-body">
                <h4 id="timer" class="card-title"></h4>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">
                <%- gameBoard.answer %>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-12">
                          <textarea disabled class="form-control" id="answer" rows="3"></textarea>
                    </div>
                    <div class="form-group max-width col-6">
                        <button disabled id="doubler-btn" type="button" class="btn btn-info btn btn-block"><%- gameBoard.doublerBtn %></button>
                    </div>
                    <div class="form-group max-width col-6">
                        <button disabled id="answer-btn" type="button" class="btn btn-success btn btn-block"><%- gameBoard.answerBtn %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();
    let myId = <%- gameBoard.myId %>;
    let myName = '<%- gameBoard.myName %>';

    let doublerBtnText = '<%- gameBoard.doublerBtn %>';
    let doublerBtnClickedText = '<%- gameBoard.doublerBtnClicked %>';
</script>
<script src="js/game-board.js"></script>
<style>
    #logo-container {
        display: none;
    }
</style>