<div class="row">
    <div id="logout-btn-container" class="col-12">
        <form action="/logout" method="GET">
            <button type="submit" class="btn btn-dark max-width"><%- gameBoard.logoutBtn %></button>
        </form>
    </div>
    <div class="col-12 text-center">
        <h1 class="text-info"><%- gameBoard.pointText %>: <span class="text-warning" id="point"><%- gameBoard.pointValue %></span></h1>
    </div>
    <div class="col-4 text-center">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">
                <%- gameBoard.question %>
            </div>
            <div class="card-body">
                <h4 class="card-title"><%- gameBoard.category %>: <span id="question-category"></span></h4>
                <p id="question" class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
        <div id="timer-container" class="card text-white bg-success mb-3">
            <div class="card-header">
                <%- gameBoard.timer %>
            </div>
            <div class="card-body">
                <h4 id="timer" class="card-title"></h4>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">
                <%- gameBoard.answer %>
            </div>
            <div class="card-body">
                <div class="form-group">
                      <textarea disabled class="form-control" id="answer" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();
    let myId = <%- gameBoard.myId %>;
    let myName = '<%- gameBoard.myName %>';

    let point = $('#point');
    let questionCategory = $('#question-category');
    let question = $('#question');
    let timerContainer = $('#timer-container');
    let timer = $('#timer');
    let answer = $('#answer');

    let isPrimary = false;
    let isWarning = false;

    $(document).ready(() => {
        socket.emit('signUpForGame', {
            playerId: myId
        });
    });

    socket.on('getNextQuestion', (data) => {
        if (data.timer === '0') {
            timer.html('<i class="fas fa-infinity"></i>');
        } else {
            timer.text(data.timer);

            let counter = setInterval(() => {
                time = parseFloat(timer.text());

                changeTimerColor(time);

                if (time === 0) {
                    clearInterval(counter);
                    sendAnswerForEvaluation();
                    resetGameBoard();
                } else {
                    timer.text((time - 0.1).toFixed(1));
                }
            }, 100);
        }
        answer.prop('disabled', false);
        questionCategory.text(data.category);
        question.text(data.question);
    });

    socket.on('updatePoint', (data) => {
        point.text(data.point);
    });

    function changeTimerColor(time) {
        if (time < 15 && !isPrimary) {
            timerContainer.removeClass('bg-success').addClass('bg-primary');
            isPrimary = true;
        }

        if (time < 5 && !isWarning) {
            timerContainer.removeClass('bg-primary').addClass('bg-warning');
            isWarning = true;
        }
    }

    function sendAnswerForEvaluation() {
        socket.emit('postAnswer', {
            player: {
                id: myId,
                name: myName,
                timeLeft: timer.text(),
                answer: answer.val()
            }
        });
    }

    function resetGameBoard() {
        questionCategory.text('');
        question.text('');
        isPrimary = false;
        isWarning = false;
        timerContainer.removeClass('bg-primary bg-warning').addClass('bg-success');
        timer.text('');
        answer.val('');
        answer.prop('disabled', true);
    }

</script>
<style>
    #logo-container {
        display: none;
    }
</style>