<div id="category-pick-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="category-pick-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content bg-gray text-light">
            <div class="modal-header">
                <h5 class="modal-title"><%- gameBoard.selectCategory %></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <%- include('partials/player-category-buttons'); %>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="game-board-container" class="mt-5 container text-centered">
    <div class="card-container-wide">
        <h1 class="text-dirty"><%- gameBoard.pointText %>: <span class="text-orange" id="point"><%- gameBoard.pointValue %></span></h1>
    </div>
    <div id="question-container" class="card-container">
        <div class="card text-dirty bg-gray shadow bordered">
            <div class="card-header">
                <%- gameBoard.question %>
            </div>
            <div class="card-body">
                <h4 class="card-title text-dirty">
                    <%- gameBoard.category %>: <br>
                    <span id="question-category text-orange"></span>
                </h4>
                <p id="question" class="card-text text-dirty"></p>
            </div>
        </div>
    </div>
    <div id="timer-container" class="card-container">
        <div class="card text-dirty bg-gray shadow bordered">
            <div class="card-header">
                <%- gameBoard.timer %>
            </div>
            <div class="card-body">
                <h4 id="timer" class="card-title text-orange"></h4>
            </div>
        </div>
    </div>
    <div id="answer-container" class="card-container">
        <div class="card text-dirty bg-gray shadow bordered">
            <div class="card-header">
                <%- gameBoard.answer %>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-12">
                          <textarea disabled class="form-control bg-dirty" id="answer" rows="3"></textarea>
                    </div>
                    <div class="form-group max-width col-6 text-dirty">
                        <button disabled id="doubler-btn" type="button" class="btn btn-success btn btn-block shadow"><%- gameBoard.doublerBtn %></button>
                    </div>
                    <div class="form-group max-width col-6 text-dirty">
                        <button disabled id="answer-btn" type="button" class="btn btn-orange btn btn-block"><%- gameBoard.answerBtn %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();
    let myId = <%- gameBoard.myId %>;
    let myName = '<%- gameBoard.myName %>';

    let doublerBtnText = '<%- gameBoard.doublerBtn %>';
    let doublerBtnClickedText = '<%- gameBoard.doublerBtnClicked %>';
</script>
<script src="js/game-board.js"></script>
<style>
    #logo-container {
        display: none;
    }
</style>