<div class="mt-5 container">
    <div class="auth-container m-auto">
        <div class="card card-body bg-gray shadow">
            <h1 class="text-center mb-3 text-orange"><i class="fas fa-sign-in-alt"></i> <span class="text-dirty"><%- login.welcomeMsg %></span></h1>
            <% if(typeof login.connectionError != 'undefined') { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= login.connectionError %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <% if(typeof login.badCredentials != 'undefined') { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= login.badCredentials %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <% if(typeof login.alreadyLoggedIn != 'undefined') { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= login.alreadyLoggedIn %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <% if(typeof login.registerSuccess != 'undefined') { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= login.registerSuccess %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <form action="/login" method="POST">
                <div class="form-group text-dirty">
                    <label for="name"><%- login.nameLabel %></label>
                    <input
                    type="text"
                    id="name"
                    name="name"
                    class="form-control bg-dirty"
                    placeholder="<%- login.namePlaceholder %>"
                    required
                    />
                </div>
                <div class="form-group text-dirty">
                    <label for="password"><%- login.passwordLabel %></label>
                    <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control bg-dirty"
                    placeholder="<%- login.passwordPlaceholder %>"
                    required
                    />
                </div>
                <button type="submit" class="btn btn-orange btn-block"><%- login.loginBtn %></button>
            </form>
            <p class="lead mt-4 text-dirty">
                <%- login.isNotRegisteredQuestion %> <a href="/register"><%- login.registerLink %></a>
            </p>
        </div>
    </div>
</div>
<script>
$(document).ready(() => {
    $('#link-login').addClass('active');
});
</script>