<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> <%- login.welcomeMsg %></h1>
            <% if(typeof login.connectionError != 'undefined') { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= login.connectionError %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <% if(typeof login.badCredentials != 'undefined') { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= login.badCredentials %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <% if(typeof login.alreadyLoggedIn != 'undefined') { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= login.alreadyLoggedIn %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <% if(typeof login.registerSuccess != 'undefined') { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= login.registerSuccess %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="name"><%- login.nameLabel %></label>
                    <input
                    type="text"
                    id="name"
                    name="name"
                    class="form-control"
                    placeholder="<%- login.namePlaceholder %>"
                    required
                    />
                </div>
                <div class="form-group">
                    <label for="password"><%- login.passwordLabel %></label>
                    <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="<%- login.passwordPlaceholder %>"
                    required
                    />
                </div>
                <button type="submit" class="btn btn-success btn-block"><%- login.loginBtn %></button>
            </form>
            <p class="lead mt-4">
                <%- login.isNotRegisteredQuestion %> <a class="text-info" href="/register"><%- login.registerLink %></a>
            </p>
        </div>
    </div>
</div>